# OS
.DS_Store

# Rust
rust_core/target/
rust_core/out/

# React Native & Node
**/node_modules/
npm-debug.log
yarn-error.log

# Android
**/android/build/
**/android/.gradle/
**/android/.idea/
**/android/app/build/
**/android/.cxx/
local.properties

# iOS
**/ios/build/
**/ios/Pods/
**/DerivedData/

# Metro
.metro-health-check*

# Local JDK & Tools
jdk21*
*.tar.gz
*.log
*.txt
.idea/
rust_core/uniffi/

# APKs

*.apk
**/build/outputs/apk/

